body{
    background-color: #202020;
}
#all{
    margin: 0;
    padding: 0;
}
#home1 {
    margin-top: -15%;
    text-align: center;
    background-image: url(../images/2.jpg);
    background-size: cover;
    width: 100%;
}
#clockdiv {
    padding-top: 250px;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 40px;
    text-shadow: 0 0 5px #000, 0 0 10px #2a9df4, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
    
}
#clockdiv > div{
    
    box-shadow: 0 0 5px #000, 0 0 10px #1167b1, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
	padding: 10px;
    margin: 0 7px;
	border-radius: 3px;
	background: #1167b1;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
    font-size: 70px;
	border-radius: 3px;
	background: #03254c;
	display: inline-block;
}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 60px;
  margin: 40px 0px 20px;
    font-family: 'Electrolize', sans-serif;
    
}
h4{
    font-size: 20px;
}
.smalltext{
	padding-top: 5px;
	font-size: 17px;
}
#first{
    margin-top: 20px;
    font-size: 40px;
}
.second h1{
    font-size: 30px;
}
#tulis{
    padding-bottom: 5%;
}
.second{
    margin-top: 60px;
    margin-bottom: 45px;
}




canvas {
	background-color:#FFF;
	border:#999 1px solid;
}
#gambar{
    padding-top: 1rem;
}
.row{
    width: 100%;
	padding-top: 1rem;
    margin: 0;
    font-size: 14px;
}
.gambar{
    margin-top: 10px;
}

.ribbon {	
	width:100%;
	margin: 0;
	display:flex;
    align-items: center;
	justify-content:center;
	background-color: #ffc107;
    font-size: 25px;
	color:#FFF;
    padding-bottom: 1rem;
}
.kosong{
    padding: 0;
    margin: 0;
}
#btnphoto{
	width:16rem;
    
    font-size: 120%;
}

#btnsave{
	width:20rem;
	font-weight: bolder;
    background-color: #2a9df4;
    color: #fff; 
    margin-bottom: 28px;
    font-size: 120%;
}

#navbar{
    background: rgba(0, 0, 0, 0.3);
}
#kanan{
    width: 100%;
    color: aqua;
    font-size: 15px;
}
#footer{
    margin: 0px 50px 50px 50px;
    background-color: #202020;
    list-style-type: none;
}
.ulfoot li{
    color: grey;
    list-style-type: none;
    font-size: 17px;
    padding: 2px;
}
.ulfoot a{
    color: white;
}

#garis{
    border-top: 2px solid grey;
    margin: 0 50px;
    color: aliceblue;
    padding: 0;
}

    .ulfoots{
        margin-left: -100px;
        width: 193px;
        padding: 0;
        margin: 0;
    }
    .ulfoots li{
        color: grey;
        list-style-type: none;
        font-size: 17px;
    }
    .ulfoots a{
        color: white;


@media only screen and (min-width : 768px) and (max-width : 1024px){
     
    body{
        background-color: #202020;
    }
    #all{
        margin: 0;
        padding: 0;
    }
    #home1 {
        margin-top: 0;
        text-align: center;
        background-image: url(../images/2.jpg);
        background-size: cover;
        width: 100%;
    }
    #clockdiv {
        padding-top: 20px;
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
        text-shadow: 0 0 5px #000, 0 0 10px #2a9df4, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;

    }
    #clockdiv > div{

        box-shadow: 0 0 5px #000, 0 0 10px #1167b1, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
        padding: 10px;
        margin: 0 6px;
        border-radius: 3px;
        background: #1167b1;
        display: inline-block;
    }

    #clockdiv div > span{
        
        padding: 10px;
        font-size: 350px;
        border-radius: 3px;
        background: #03254c;
        display: inline-block;
    }
    h1{
      color: #fff;
      font-weight: 100;
      font-size: 10px;
      margin: 20px 0px;
        font-family: 'Electrolize', sans-serif;

    }
    h4{
        font-size: 15px;
    }
    .smalltext{
        padding-top: 5px;
        font-size: 12px;
    }
    #first{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    #tulis{
        padding-bottom: 5px;
    }
    .second h1{
        font-size: 100%;
    }
    .second h3{
        font-size: 70%;
    }
    .second{
        margin-top: 0px;
    }





    canvas {
        background-color:#FFF;
        border:#999 1px solid;
    }
    #gambar{
        padding-top: 1rem;
    }
    .row{
        width: 100%;
        padding-top: 1rem;
        margin: 0;
        font-size: 10px;
    }
    .gambar{
        margin-top: 10px;
    }

    .ribbon {	
        width:100%;
        margin: 0;
        display:flex;
        align-items: center;
        justify-content:center;
        background-color: #ffc107;
        font-size: 15px;
        color:#FFF;
        padding-bottom: 1rem;
    }
    .kosong{
        padding: 0;
        margin: 0;
    }
    #btnphoto{
        width:16rem;

        font-size: 12px;
    }

    #btnsave{
        width:20rem;
        font-weight: bolder;
        background-color: #2a9df4;
        color: #fff; 
        margin-bottom: 28px;
        font-size: 120%;
    }

    #navbar{
        background: rgba(0, 0, 0, 0.3);
    }
    #kanan{
        width: 100%;
        color: aqua;
        font-size: 15px;
    }
    #footer{
        width: 100%;
        margin: 0;
        background-color: #202020;
        list-style-type: none;
    }
    .ulfoot{
        width: 180px;
        padding: 0;
        margin: 0;
    }
    .ulfoot li{
        color: grey;
        list-style-type: none;
        font-size: 17px;
    }
    .ulfoot a{
        color: white;
    }
    .ulfoots{
        margin-left: -100px;
        width: 193px;
        padding: 0;
        margin: 0;
    }
    .ulfoots li{
        color: grey;
        list-style-type: none;
        font-size: 17px;
    }
    .ulfoots a{
        color: white;
    }
    #garis{
        border-top: 2px solid grey;
        margin: 0;
        color: aliceblue;
        padding-left: 0px;
        width: 100%;
    }

}

@media only screen and (max-width: 768px){
     body{
        background-color: #202020;
    }
    #all{
        margin: 0;
        padding: 0;
    }
    #home1 {
        margin-top: -35%;
        text-align: center;
        background-image: url(../images/2.jpg);
        background-size: cover;
        width: 100%;
    }
    #clockdiv {
        padding-top: 250px;
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 20px;
        padding-bottom: 100px;
        text-shadow: 0 0 5px #000, 0 0 10px #2a9df4, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;

    }
    #clockdiv > div{

        box-shadow: 0 0 5px #000, 0 0 10px #1167b1, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
        padding: 10px;
        margin: 0 6px;
        border-radius: 3px;
        background: #1167b1;
        display: inline-block;
        margin-top: 60px;
    }

    #clockdiv div > span{
        
        padding: 10px;
        font-size: 35px;
        border-radius: 3px;
        background: #03254c;
        display: inline-block;
    }
    h1{
      color: #fff;
      font-weight: 100;
      font-size: 10px;
      margin: 40px 0px 20px;
        font-family: 'Electrolize', sans-serif;

    }
    h4{
        font-size: 15px;
    }
    .smalltext{
        padding-top: 5px;
        font-size: 12px;
    }
    #first{
        font-size: 20px;
    }
    #tulis{
        padding-bottom: 5%;
    }
    .second h1{
        font-size: 100%;
    }
    .second h3{
        font-size: 70%;
    }
    .second{
        margin-top: 0px;
        margin-bottom: 53px;
    }





    canvas {
        background-color:#FFF;
        border:#999 1px solid;
    }
    #gambar{
        padding-top: 1rem;
    }
    .row{
        width: 100%;
        padding-top: 1rem;
        margin: 0;
        font-size: 10px;
    }
    .gambar{
        margin-top: 10px;
    }

    .ribbon {	
        width:100%;
        margin: 0;
        display:flex;
        align-items: center;
        justify-content:center;
        background-color: #ffc107;
        font-size: 15px;
        color:#FFF;
        padding-bottom: 1rem;
    }
    .kosong{
        padding: 0;
        margin: 0;
    }
    #btnphoto{
        width:16rem;

        font-size: 12px;
    }

    #btnsave{
        width:20rem;
        font-weight: bolder;
        background-color: #2a9df4;
        color: #fff; 
        margin-bottom: 28px;
        font-size: 120%;
    }

    #navbar{
        background: rgba(0, 0, 0, 0.3);
    }
    #kanan{
        width: 100%;
        color: aqua;
        font-size: 15px;
    }
    #footer{
        margin: 0;
        background-color: #202020;
        list-style-type: none;
    }
    .ulfoot li{
        color: grey;
        list-style-type: none;
        font-size: 17px;
        padding: 2px;
    }
    .ulfoot a{
        color: white;
    }
    #garis{
        border-top: 2px solid grey;
        margin: 0;
        color: aliceblue;
        padding-left: 0px;
    }
}