
canvas {
	background-color:#FFF;
	border:#999 1px solid;
}

.row{
    width: 100%;
	padding-top: 1rem;
    
    font-size: 150%;
}

.ribbon {	
	width:100%;
	margin: 0;
	display:flex;
    align-items: center;
	justify-content:center;
	background-color: #ffc107;
	padding-top:2rem;
	padding-bottom:2rem;
    font-size: 220%;
	color:#FFF;
}

#btnphoto{
	width:16rem;
    
    font-size: 120%;
}

#btnsave{
	width:20rem;
	font-weight: bolder;
    
    font-size: 120%;
}




#all{
    margin: 0;
    padding: 0;
}
#navbar{
    background: rgba(0, 0, 0, 0.3);
}
#kanan{
    width: 100%;
    color: aqua;
    font-size: 150%;
}
#home1 {
    margin-top: -15%;
    text-align: center;
    background-image: url(../images/2.jpg);
    background-size: cover;
    width: 100%;
}
.anniv {
    margin-top: 18%;
}
#tulis{
    padding-bottom: 5%;
}
#first{
    margin-top: 5%;
}
h1{
  color: #fff;
  font-weight: 100;
  font-size: 60px;
  margin: 40px 0px 20px;
    font-family: 'Electrolize', sans-serif;
    
}
#clockdiv {
    padding-top: 15%;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 550%;
    text-shadow: 0 0 5px #000, 0 0 10px #2a9df4, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
    
}
#clockdiv > div{
    
    box-shadow: 0 0 5px #000, 0 0 10px #1167b1, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
	padding: 10px;
	border-radius: 3px;
	background: #1167b1;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
    font-size: 150%;
	border-radius: 3px;
	background: #03254c;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 40%;
}
@media screen and (max-width: 768px) {
  
h1{
  color: #fff;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
    font-family: 'Electrolize', sans-serif;
    
}

#clockdiv {
    padding-top: 15%;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 550%;
    text-shadow: 0 0 5px #000, 0 0 10px #2a9df4, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
    
    
}

#clockdiv > div{
    
    box-shadow: 0 0 5px #000, 0 0 10px #1167b1, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
	padding: 10px;
	border-radius: 3px;
	background: #1167b1;
	display: inline-block;
}
#ulfoot{
    color: aliceblue;    
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
@media screen and (max-width: 768px) {

    #clockdiv {
        width: 100%;
        padding-top: 15%;
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 40px;
        text-shadow: 0 0 5px #000, 0 0 10px #2a9df4, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;

    }

    #clockdiv > div{

        box-shadow: 0 0 5px #000, 0 0 10px #1167b1, 0 0 20px #2a9df4, 0 0 30px #2a9df4, 0 0 40px #2a9df4, 0 0 55px #2a9df4, 0 0 75px #2a9df4;
        padding: 3px;
        border-radius: 3px;
        background: #1167b1;
        display: inline-block;
    }

    #clockdiv div > span{
        padding: 15px;
        border-radius: 3px;
        background: #03254c;
        display: inline-block;
    }

    .smalltext{
        padding-top: 5px;
        font-size: 7px;
    }
    #first{
        font-size: 10px;
    }
    *{
    font-size: 60%;
    }
    canvas {
        background-color:#FFF;
        border:#999 1px solid;
    }

    .row{
        margin-top: 1rem;
    }

    .ribbon {	
        width:100%;
        margin: 0;
        display:flex;
        align-items: center;
        justify-content:center;
        background-color: #ffc107;
        padding-top:1rem;
        padding-bottom:1rem;
        font-size:1.5rem;
        color:#FFF;
    }

    #btnphoto{
        width:16rem;
    }

    #btnsave{
        width:20rem;
        font-weight: bolder;
    }
}















